<a href="https://colab.research.google.com/github/TatyanaLanceva/Netology/blob/main/2_6_Exception_and_error_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

**Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

# Задание 1

In [ ]:
from datetime import datetime, timedelta

In [ ]:
The_Moscow_Times = datetime.strptime('Wednesday, October, 2, 2002','%A, %B, %d, %Y')
print(The_Moscow_Times)
type(The_Moscow_Times)

2002-10-02 00:00:00

datetime.datetime

In [ ]:
The_Guardian = datetime.strptime('Friday, 11.10.13','%A, %d.%m.%y')
print(The_Guardian)
type(The_Guardian)

2013-10-11 00:00:00

datetime.datetime

In [ ]:
Daily_News = datetime.strptime('Thursday, 18 August 1977' , '%A, %d %B %Y')
print(Daily_News)
type(Daily_News)

1977-08-18 00:00:00

datetime.datetime

# Задание 2

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
dates = []
for date_str in stream:
    try:
        date_obj = datetime.strptime(date_str, '%Y-%m-%d')
        print('True')
    except ValueError as e:
        print('False')

True
False
False

# Задание 3

In [ ]:
def dates(start_date, end_date):

# Проверяем на соответствие заданному формату
    try:
        start_date = datetime.strptime(start_date, "%Y-%m-%d").date()
        end_date = datetime.strptime(end_date, "%Y-%m-%d").date()
    except ValueError:
        return []  # Если формат не соответствует, выводим пустой список

# Если дата начала меньше даты конца, то выводим список дат
    if start_date <= end_date:
        result = []
        current_date = start_date
        while current_date <= end_date:
            result.append(current_date.strftime("%Y-%m-%d"))
            current_date += timedelta(days=1)
        return result
# Если дата начала больше даты конца, выводим пустой список
    else:
        return []

In [ ]:
# Проверка, дата начала больше даты конца

print(dates("2024-08-15", "2023-01-01"))

[]

In [ ]:
# Проверка, корректный ряд

print(dates("2024-08-15", "2024-08-21"))

['2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18', '2024-08-19', '2024-08-20', '2024-08-21']