<a href="https://colab.research.google.com/github/TatyanaLanceva/Netology/blob/main/4_2_Pandas_Libraries_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
# Загружаем библиотеке
import pandas as pd
import json
import csv

In [ ]:
# Чтение CSV-файла movies
df_movies = pd.read_csv('movies.csv')
# Просмотр первых пяти строк таблицы
print(df_movies.head())
print()
df_movies.info()

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [ ]:
# Чтение CSV-файла ratings
df_ratings = pd.read_csv('ratings.csv')
# Просмотр первых пяти строк таблицы
print(df_ratings.head())
print()
df_ratings.info()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [ ]:
# Объединим данные для получения общей информации

# Слияние DataFrame

joined = ratings_df.merge(movies_df, left_on='movieId', right_on='movieId', how='left')

# Краткий просмотр

joined.head()

NameError: name 'ratings_df' is not defined

In [ ]:
joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
 4   title      100836 non-null  object
 5   genres     100836 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [ ]:
# Выберем фильмы только с оценкой 5, краткий просмотр

joined_5 = joined[joined['rating'] == 5.0]
joined_5.head(-5)

,userId,movieId,rating,timestamp,title,genres
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
8,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War
...,...,...,...,...,...,...
100736,610,121231,5.0,1493848188,It Follows (2014),Horror
100737,610,122882,5.0,1493845444,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller
100743,610,122920,5.0,1493845626,Captain America: Civil War (2016),Action|Sci-Fi|Thriller
100779,610,138632,5.0,1479545420,Tokyo Tribe (2014),Action|Crime|Drama|Sci-Fi
100811,610,156371,5.0,1479542831,Everybody Wants Some (2016),Comedy

In [ ]:
# Посчитаем количество 5.0 для каждого фильма:

counts = filtered_df.groupby('title')['rating'].count()

# Найдем фильм с максимальным количеством оценок 5.0:
most_rated_film = counts.idxmax()

# Вывод результата
print(f'Фильм с наибольшим количеством оценок 5.0: {most_rated_film}.')

Фильм с наибольшим количеством оценок 5.0: Shawshank Redemption, The (1994).

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
# Чтение CSV-файла movies
power = pd.read_csv('power.csv')
# Просмотр первых пяти строк таблицы
print(power.head())
print()
power.info()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [ ]:
# Настроим фильтр по заданным критериям:
# Страны: Латвия, Литва и Эстония
# Категорий 4, 12 и 21
# Годы с 2005 по 2010
# Отрицательные значения quantity исключаем.

filtred_countries = df_power[

    ((df_power['country'] == 'Latvia') |
     (df_power['country'] == 'Lithuania') |
     (df_power['country'] == 'Estonia')) &

    ((df_power['category'] == 4) |
     (df_power['category'] == 12) |
     (df_power['category'] == 21)) &

    ((df_power['year'] >= 2005) &
     (df_power['year'] <= 2010) &

     (df_power['quantity'] >= 0)
     )
]

print(filtred_countries.head(-5))

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
11156   Lithuania  2008       1.0         4
...           ...   ...       ...       ...
253964     Latvia  2008      28.0        21
253965     Latvia  2007      26.0        21
253966     Latvia  2006      27.0        21
253967     Latvia  2005      27.0        21
253981  Lithuania  2010     133.0        21

[403 rows x 4 columns]

In [ ]:
# Посчитаем суммарное потребление стран из выборки:

rounded_quantity_sum = round(quantity_sum)
print(f'Суммарное потребление стран: {rounded_quantity_sum}.')

Суммарное потребление стран: 240580.

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame.

Выбран сайт с котировками корпоративных облигаций:

https://mfd.ru/marketdata/?id=5&mode=3&group=17&ysclid=m3rdtwrl2g28607139

In [ ]:
# Указываем URL страницы

url = 'https://mfd.ru/marketdata/?id=5&mode=3&group=17&ysclid=m3rdtwrl2g28607139'

# Читаем таблицы, выводим:
tables = pd.read_html(url)
table = tables[0]

# Выводим первые несколько строк выбранной таблицы
print(table.head(-5))

           Тикер     Время   Цена                                            \
           Тикер     Время сделки сделки.1 сделки.2 пред закр   откр    мин
0         AAG-01  16:44:06  97.59    −0.16   −0.16%     97.75  97.73  97.02
1     AGROFRGT01  16:45:03   85.3    −1.14   −1.32%     86.44  92.29  84.82
2     ANTERRA-02  16:44:33  83.86    +0.67   +0.81%     83.19   83.2     83
3         BLR-27       NaN    NaN      NaN      NaN       NaN    NaN    NaN
4         BLR-30       NaN    NaN      NaN      NaN       NaN    NaN    NaN
...          ...       ...    ...      ...      ...       ...    ...    ...
2337  ЯрОбл35016  16:44:06  95.21     +0.1   +0.11%     95.11  96.01  95.21
2338  ЯрОбл35017  16:44:06  96.89    −0.07   −0.07%     96.96  96.89  96.89
2339  ЯрОбл35018  16:44:49  82.56        0       0%     82.56  82.89  82.56
2340   ЯТЭК 1P-2  16:44:06  95.03    −0.21   −0.22%     95.24   95.1  94.51
2341   ЯТЭК 1P-3  16:45:01  96.58    +0.03   +0.03%     96.55  96.41  96.01

                   Объем за день            Кол-во сделок
       макс  срвзв            шт        руб Кол-во сделок
0     97.74  97.15           243    236 079            56
1     92.29  87.22           614    535 533           107
2     83.86   83.3           925    770 512            95
3       NaN    NaN           NaN        NaN           NaN
4       NaN    NaN           NaN        NaN           NaN
...     ...    ...           ...        ...           ...
2337  96.01   95.7             4      1 531             4
2338  96.89  96.89             1        242             1
2339  82.89  82.57            57     18 826            11
2340  95.15  95.02         3 206  1 218 551           150
2341  96.69  96.45         2 586  2 494 089           122

[2342 rows x 13 columns]

In [ ]:
# Выведем информацию по таблице:

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2347 entries, 0 to 2346
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   (Тикер, Тикер)                  2346 non-null   object
 1   (Время, Время)                  2321 non-null   object
 2   (Цена, сделки)                  1405 non-null   object
 3   (Цена, сделки.1)                1403 non-null   object
 4   (Цена, сделки.2)                1403 non-null   object
 5   (Цена, пред закр)               2030 non-null   object
 6   (Цена, откр)                    1405 non-null   object
 7   (Цена, мин)                     1405 non-null   object
 8   (Цена, макс)                    1405 non-null   object
 9   (Цена, срвзв)                   1421 non-null   object
 10  (Объем за день, шт)             2319 non-null   object
 11  (Объем за день, руб)            2319 non-null   object
 12  (Кол-во сделок, Кол-во сделок)  2319 non-null   object
dtypes: object(13)
memory usage: 238.5+ KB